<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %> 
    
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Home</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="h-main-body">
                      <div class="db-page-wrapper slide-container swiper">
                        <!-- [ Main Content ] start -->
                          <div class="slide-content">
                              <div class="card-wrapper swiper-wrapper">
                                <% if(wallets.length === 0) {%> 
                                  <div>------------------------------------------------------ YOU DO NOT HAVE ANY WALLETS, PLEASE ADD A NEW ONE---------------------------------------------------</div>
                                <% } %> 
                                  <% for (let wallet of wallets) { %> 
                                <div class="db-card swiper-slide">
                                    <div class='top-block'>
                                      <div class='card-chip'>
                                        <i class="fas fa-credit-card"></i>
                                      </div>
                                      <span class='card-name'>
                                        <%= wallet.type%> 
                                      </span>
                                    </div>
                                    <div class='bottom-block'>
                                         <div class='balance'>
                                              <div class='card-balance'>
                                                <% if(Math.abs(wallet.acc_balance) >=1000000){ %> 
                                                 <%=wallet.acc_balance / 1000000%>M VND
                                                 <% }else{ %>
                                                 <%=wallet.acc_balance / 1000 %>K VND
                                                  <% } %> 
                                              </div>
                                              <div><%=wallet.name%></div>
                                         </div>                                       
                                    </div>
                                  </div>
                                <% } %> 
                                  
                                 
                              </div>
                          </div>
              
                          <div class="swiper-button-next swiper-navBtn"></div>
                          <div class="swiper-button-prev swiper-navBtn"></div>
                          <div class="swiper-pagination"></div>
                          <span class="db-add-wallet">
                            <a href="/addWallet"> <i class="fas fa-plus-circle"></i></a>
                          </span>
                            
                            <!-- [ Main Content ] end -->
                        </div>
                        <div class="db-charts">
                            <div class="db-charts-card">
                                <p class="chart-title">Incomes and Expenses</p>
                                <div id="area-chart"></div>
                            </div>
                            <div class="recent-card ">
                                <div class="recent-card-body ">
                                  <h4 class="card-title">Recent Expenses</h4>                               
                                  <% for (let recent of recents){ %>
                                  <div class="list align-items-center border-bottom py-2">
                                    <div class="wrapper w-100">
                                        <div class="w-100-content">
                                            <p class="mb-2 font-weight-medium"><%= recent.name[0] %></p>
                                            <p class="expense"><%= recent.amount %></p>
                                        </div>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-day"></i>
                                          <p class="mb-0 text-small text-muted"><%= recent.date.toLocaleDateString() %> </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>                              
                                  <% } %>
                                  <div class="detail">
                                    <p class="detail-content">
                                        <a href="/expense" class="fw-bold text-primary">Show all <i class="fas fa-angle-right"></i></a>
                                    </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <%- include('./includes/script.ejs') %> 
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".slide-content", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints:{
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
          slidesPerView: 3,
        },
    },
  });
    </script>
    
    <!---------- Apexcharts ------->
    <script src="../../../dist/apexcharts.js"></script>
    <div id="areaChart"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>

    <script>
  
      var areaChartOptions = {
        series: [{
            name: 'Incomes',
            data: [`<%= income[0]%>`, `<%= income[1]%>`, `<%= income[2]%>`, `<%= income[3]%>`, `<%= income[4]%>`, `<%= income[5]%>`, `<%= income[6]%>`, `<%= income[7]%>`, `<%= income[8]%>`, `<%= income[9]%>`, `<%= income[10]%>`, `<%= income[11]%>`]
            }, {
            name: 'Expenses',
            data: [`<%= expense[0]%>`, `<%= expense[1]%>`, `<%= expense[2]%>`, `<%= expense[3]%>`, `<%= expense[4]%>`, `<%= expense[5]%>`, `<%= expense[6]%>`, `<%= expense[7]%>`, `<%= expense[8]%>`, `<%= expense[9]%>`, `<%= expense[10]%>`, `<%= expense[11]%>`]
        }],

        chart: {
          height: 350,
          type: 'area',
          toolbar: {
            show: false,
          },
        },

        colors: ["#246dec", "#ff9900"],

        dataLabels: {
          enabled: false,
        },

        stroke: {
          curve: 'smooth'
        },

        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],

        markers: {
          size: 0
        },

        yaxis: [
          {
            title: {
              text: 'Incomes',
            },
          },
          {
            opposite: true,
            title: {
              text: 'Expenses',
            },
          },
        ],

        tooltip: {
          shared: true,
          intersect: false,
        },

        noData: {
          text: 'Loading...'
        }
      };    

      var areaChart = new ApexCharts(document.querySelector("#area-chart"), areaChartOptions);
      areaChart.render();

        
    </script>


</body>
</html>
