<%- include('./includes/head.ejs') %>

<body>
<!--EDIT PROFILE PAGE-->
    <%- include('./includes/navigation.ejs') %> 
<!-- main content -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class= "pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Profile</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Edit Profile</a></li>
                                    </ul>
                                </div>
                            </div>
<!--                        Edit FORM   -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>EDIT PROFILE</h5>
                                        </div>
                                        <form class="card-body" action="/editProfile" method="POST">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Username</label>
                                                            <input value="<%= user.username%>" name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
<!--                                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email address</label>
                                                            <input value="<%= user.email%>" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
<!--                                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                                        </div>                                 
                                                        <div class="form-group">
                                                            <label for="InputFirstName">First name</label>
                                                            <input value="<%= user.firstName%>" name="firstName" type="text" class="form-control" id="InputFirstName" placeholder="First Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputLastName">Lastname</label>
                                                            <input value="<%= user.lastName%>" name="lastName" type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                                                        </div>
                                                        <div>
                                                            <label>Gender</label>
                                                            <select class="mb-3 form-control" value="<%= user.gender%>" name="gender" >
                                                                <option>Select gender</option>                                                                
                                                                <option value=1 <%if(user.gender == 1){ %>selected<% } %>>Male</option>
                                                                <option value=''<%if(user.gender == ''){ %>selected<% } %>>Female</option>
                                                                
                                                            </select>
                                                        </div>  
                                                        <div class="form-group">  
                                                            <label for="exampleInputPassword1">Date of Birth</label>
                                                            <input value="user.dob" name="dob" type="date" class="form-control"  placeholder="dob" style="cursor: text">
                                                        </div>                          
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <div class="form-group">
                                                            <label for="InputJob">Job</label>
                                                            <input value="<%= user.job%>" name="job" type="text" class="form-control" id="InputJob"  placeholder="Project Manager">
<!--                                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputPhone">Phone</label>
                                                            <input value="<%= user.phone%>" name="phone" type="text" class="form-control" id="InputPhone" placeholder="09012345678">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputAddress">Address</label>
                                                            <input value="<%= user.address%>" name="address" type="text" class="form-control" id="InputAddress" placeholder="98 Post St, San Francisco, CA">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputFacebook">Facebook</label>
                                                            <input value="<%= user.facebook%>" name="facebook" type="url" class="form-control" id="InputFacebook" placeholder="https://www.facebook.com/...">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputLinkedin">Linkedin</label>
                                                            <input value="<%= user.linkedin%>" name="linkedin" type="url" class="form-control" id="InputLinkedin" placeholder="https://www.linkedin.com/...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button type="submit" class="btn btn-primary">Save</button>                                          
                                        </form>
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end of main -->
    <%- include('./includes/script.ejs') %> 
</body>
</html>