<%- include('./includes/head.ejs') %>

<body>

    <%- include('./includes/navigation.ejs') %>
<!-- main content -->
 <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Income Details</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="/income">Income</a></li>
                                        <li class="breadcrumb-item"><a href="#"><%= income.income_id %></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Breadcrumbs & Pagination ] start -->
                                <div class = "col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><i class="fa-solid fa-cart-arrow-down"></i> Income </h5>
                                            <%= income.name[0] %>
                                        </div>
                                    </div>
                                </div>
                                <div class = "col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><i class="fa-solid fa-dollar-sign"></i> Amount </h5>
                                            <%= income.amount %> 
                                            VND
                                        </div>
                                    </div>
                                </div>
                                <div class = "col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><i class="fa-solid fa-calendar-days"></i> Date </h5>
                                            <%= income.date.toLocaleDateString() %> 
                                        </div>
                                    </div>
                                </div>
                                <div class = "col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><i class="fa-solid fa-wallet"></i> Wallet </h5>
                                            <%= income.name[1] %> 
                                            - 
                                            <%= income.acc_balance %> VND left
                                        </div>
                                    </div>
                                </div>
                                <div class = "col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><i class="fa-solid fa-pen-to-square"></i> Note </h5>
                                        </div>
                                        <div class="card-body">
                                            <%= income.note %>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <% if(income.name[0] != 'Money transfer'){ %> 
                                        <div class="col-sm">
                                            <form action="/removeIncome" method="POST">
                                                <input type="hidden" value="<%= income.amount %>" name="amount">
                                                <input type="hidden" value="<%= income.wallet_id %>" name="wallet_id">
                                                <input type="hidden" value="<%= income.income_id %>" name="income_id">
                                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                <button class="btn btn-danger btn-sb" data-toggle="tooltip" type="submit"><i class="fa-solid fa-eraser"></i>Remove</button>
                                            </form>                                                                              
                                        </div>
                                        <% } %> 
                                    </div>
                                </div>
                                <!-- [ Breadcrumbs & Pagination ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- end of main -->
    <%- include('./includes/script.ejs') %>
</body>
</html>