<%- include('./includes/head.ejs') %>

<body>

    <%- include('./includes/navigation.ejs') %> 
<!-- main content -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Profile</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                            <section style="">
                              <div class="container py-5">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="card mb-4">
                                      <div class="card-body text-center">
                                        <img 
                                          <% if(user.gender == 1){ %> 
                                            src="/images/user/avatar-2.jpg"
                                          <% }else{ %>
                                            src="/images/user/avatar-1.jpg"
                                          <% } %> 
                                            alt="avatar" 
                                            class="rounded-circle img-fluid" 
                                            style="width: 150px;"
                                        >

                                        <h5 class="my-3"><%= user.username %></h5>
                                        <hr>
                                        <p class="text-muted mb-1"><%= user.job %></p>
                                        <p class="text-muted mb-4"><%= user.address %></p>
<!--                                        <div class="d-flex justify-content-center mb-2">-->
<!--                                          <button type="button" class="btn btn-primary">Follow</button>-->
<!--                                          <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
<!--                                        </div>-->
                                      </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="row">
                                        <div class="col-sm">
                                        </div>
                                        <form class="col-sm" action="/profile" method="POST">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button type="submit" class="btn btn-primary" title="" data-toggle="tooltip"><i class="fa-solid fa-file-pen"></i>Edit Profile</button>
                                        </form>
                                        <div class="col-sm">
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-8">
                                    <div class="card mb-4">
                                      <div class="card-body">
                                         <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Username</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.username %></p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">First Name</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.firstName %></p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Last Name</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.lastName %></p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Gender</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><% if(user.gender == 1){ %>Male<% } else { %>Female<% } %> </p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Date of Birth</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.dob %></p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.email %></p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Phone</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.phone %></p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Job</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.job %></p>
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Address</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.address %></p>
                                          </div>
                                        </div>
                                          <hr>
                                          <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Facebook</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.facebook %></p>
                                          </div>
                                        </div>
                                          <hr>
                                          <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Linkedin</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0"><%= user.linkedin %></p>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end of main -->
    <%- include('./includes/script.ejs') %> 
</body>
</html>